.shop_index_right {
    display: flex;
    padding: 1rem;
    align-items: center;
}
p.shop_in_left_p {
    padding: 0.8rem;
    width: 45%;
    background: white;
    border: 1px solid;
    font-weight: 600;
    border-radius: 50px;
    text-align: center;
    margin: 0.5rem;
    box-shadow: 1px 1px 1px maroon;
}
.shop_index_header {
    background: -moz-linear-gradient(to bottom,#99c9f3,#a6abee 10%,#8ddeee);
    background: -webkit-linear-gradient(to bottom,#99c9f3, #a6abee 10%,#8ddeee);
    background: linear-gradient(to bottom,#a6abee 10%,#99c9f3,#8ddeee);
    padding: 1rem;
}
.shop_main_contents {
    width: 45%;
}
.shop_main_wrap_flex {
    background: whitesmoke;
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
}
.shop_index_contents_flex {
    display: flex;
    flex-wrap: wrap;
}
p.shop_in_right_p {
    color: white;
    margin-left: 0.5rem;
    font-weight: 700;
}
p.shop_main_im_p {
    text-align: center;
    font-weight: 700;
    font-size: .9rem;
}
.shop_main_contents {
    width: 45%;
    border: 1px solid;
    background: -moz-linear-gradient(to bottom,#edbde4,#f6d2f0 10%,#a277b8);
    background: -webkit-linear-gradient(to bottom,#edbde4, #f6d2f0 10%,#a277b8);
    background: linear-gradient(to bottom,#f6d2f0 10%,#edbde4,#a277b8);
    padding:1rem 0.5rem;
    margin: 1rem 0;
    border-radius: 20px;
}
